.page-info-left{
    float: left;
    margin-left: 4%;
}

.turn-page-right{
    float: right;
    margin-right: 4%;
}

.clear{
    clear: both;
}

.location-span{
    padding: 2px;
    color: white;
    border: 1px solid rgb(104, 223, 240);
    border-radius: 20%;
}