.page-info-left{
    float: left;
    margin-left: 4%;
}

.turn-page-right{
    float: right;
    margin-right: 4%;
}

.clear{
    clear: both;
}
.page-info-left{
    float: left;
    margin-left: 4%;
}

.turn-page-right{
    float: right;
    margin-right: 4%;
}

.clear{
    clear: both;
}

#device_number li {
    list-style: none;
    float: left;
    margin-left: 20px;
    padding: 10px 10px;
}

.device_category button {
    padding: 2px 6px;
}
#device-detials th{
    min-width: 82px;
    text-align: center;
}
#device-detials td{
    min-width: 82px;
    text-align: center;
}
#device-detials option{
    text-align: center;
}
#device-detials td input{
    padding: 0;
    width: 100%;
    text-align: center;
    border: 1px;
}
#device-detials td select{
    border-radius: 3px;
}
#device-change th{
    min-width: 82px;
    text-align: center;
}
#device-change td{
    min-width: 82px;
    text-align: center;
}
::-webkit-scrollbar{
    width: 0;
    height: 10px;
}

