<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>设备在线管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
      <style type="text/css">
          h5{
              font-weight:600;
              color:black;
              margin:2%;
          }
         table {
             border-collapse: collapse;
             border-spacing: 0;
             border: 1px solid #c0c0c0;
         }
         th, td {
             border: 1px solid #d0d0d0;
             color: #404060;
         }
         th {
             background-color:   #ffd777;
             font: bold 15px "微软雅黑";
             color: #fff;
         }
         td {
             font: 14px "微软雅黑";
         }
         td a.get {
             text-decoration: none;
         }
         a.del:hover {
             text-decoration: underline;
         }
         tbody tr {
             background-color: #f0f0f0;
         }
         tbody tr:hover {
             cursor: pointer;
             background-color: #fafafa;
         }
         .left{
             padding:1%;
             float:left;
         }
         .mask {
             position: absolute;
             top: 0px;
             left: 0px;
             width: 100%;
             height: 100%;
             background: #000;
             opacity: 0.15;
             display: none;
         }
         .btn{
             float:right;
             padding:1%;
             font-size:12px;
             margin:1%;
         }
          .col-lg-6 {
              margin-bottom: 25px;
          }
         .content-panel{
             height:250px;
             padding:0px;
         }
          .modal-body,.modal-footer{
              background-color: white;
          }
      </style>

  </head>

  <body>

  <section id="container">
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
          <div class="sidebar-toggle-box">
              <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
          </div>
          <!--logo start-->
          <a href="index.html" class="logo" style="color: black"><b>设备管理系统</b></a>
          <!--logo end-->
          <div class="nav notify-row" id="top_menu">
          </div>
          <div class="top-menu">
              <ul class="nav pull-right top-menu">
                  <li><a class="logout" href="login.html">Logout</a></li>
              </ul>
          </div>
      </header>
      <!--header end-->
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar" class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <p class="centered"><a href="#"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">{{username}}</h5>

                  <li class="mt">
                      <a href="javascript;" @click="listDevice(0)">
                          <i class="fa fa-desktop"></i>
                          <span>所有设备</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" @click="listDevice(1)">
                          <i class="glyphicon glyphicon-home"></i>
                          <span>库存设备</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" @click="listDevice(2)">
                          <i class="glyphicon glyphicon-play"></i>
                          <span>使用中设备</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" @click="listDevice(3)">
                          <i class="glyphicon glyphicon-trash"></i>
                          <span>报废设备</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-cogs"></i>
                          <span>系统设置</span>
                      </a>
                      <ul class="sub">
                          <li><a href="javascript:;" @click="ListUser()">用户管理</a></li>
                          <li><a href="">菜单管理</a>
                              <ul class="sub">
                                  <li><a href="javascript:;" @click="sortList(-1)">分类</a></li>
                                  <li><a href="javascript:;" @click="addressDevice()">地点</a></li>
                                  <li><a class="active" href="eqmanager.html">其他</a></li>
                              </ul>
                      </ul>
                  </li>

              </ul>

              <!-- sidebar menu end-->
          </div>

      </aside>
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
  </section>
<!--添加设备品牌模态框-->
  <div id="add-devicebrand" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="add-devicebrand">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">添加设备品牌</h4>
          </div>
          <div class="modal-body" style="background-color: white;">
              <form>
                  <div class="form-group">
                      <label for="input-brand-name">设备品牌</label>
                      <input id="input-brand-name" v-model="brand.name" type="text" class="form-control" placeholder="请输入设备品牌">
                  </div>
              </form>
          </div>
          <div class="modal-footer" style="background-color: white;">
              <button @click="addDeviceBrand" type="button" class="btn btn-success">添加</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
      </div>
  </div>
  <!--添加设备型号模态框-->
  <div id="add-devicemodel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="add-devicemodel">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">添加设备型号</h4>
          </div>
          <div class="modal-body" style="background-color: white;">
              <form>
                  <div class="form-group">
                      <label for="input-device-model">设备型号</label>
                      <input id="input-device-model" v-model="deviceModel.name" type="text" class="form-control" placeholder="请输入设备型号">
                  </div>
              </form>
          </div>
          <div class="modal-footer" style="background-color: white;">
              <button @click="addDeviceModel" type="button" class="btn btn-success">添加</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
      </div>
  </div>
  <!--添加工作性质模态框-->
  <div id="add-worknature" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="add-worknature">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">添加工作性质</h4>
          </div>
          <div class="modal-body" style="background-color: white;">
              <form>
                  <div class="form-group">
                      <label for="input-work-nature">工作性质</label>
                      <input id="input-work-nature" v-model="workNature.name" type="text" class="form-control" placeholder="请输入工作性质">
                  </div>
              </form>
          </div>
          <div class="modal-footer" style="background-color: white;">
              <button @click="addWorkNature" type="button" class="btn btn-success">添加</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
  <script src="assets/js/jquery.scrollTo.min.js"></script>
  <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


  <!--common script for all pages-->
  <script src="assets/js/common-scripts.js"></script>

  <!--script for this page-->
  <script src="assets/js/morris-conf.js"></script>
  <script src="assets/js/vue.js"></script>
  <script src="assets/js/module/common.js"></script>
  <script src="assets/js/module/index.js"></script>
  <script src="assets/js/module/eqmanage.js"></script>

  </body>
</html>
