<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicau.devicemanager.dao.PermissionMapper">

    <select id="listPermission" resultType="com.sicau.devicemanager.POJO.DO.Permission">
        SELECT *
        FROM permission
    </select>
	<select id="listPermissionInIds" resultType="com.sicau.devicemanager.POJO.DO.Permission">
		select *
		from permission
		where id in (
		<foreach collection="list" item="id" separator=",">
			#{id}
		</foreach>
		)
	</select>

</mapper>